<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <title>Sandbox with VUE.js </title>
    

</head>
<body>
    <div id="app">
        <div class="card">
            <div class="card-header">
                <div class="card-header-title">
                    ${ product }
                </div> 
            </div>
                <div class="card-content">
                    ${ description }
                </div>
                    <div class="card-footer">
                        <div class="card-footer-item">
                            Liabilities:
                        </div>
                        <div class="card-footer-item">
                            Assets:
                        </div>
                        <div class="card-footer-item">
                            Net Worth: 
                        </div>
                    </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- Full bundle -->
        <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

        <!-- Individual components -->
        <script src="https://unpkg.com/buefy/dist/components/table"></script>
        <script src="https://unpkg.com/buefy/dist/components/input"></script>
    <script>
        new Vue ({
            el: '#app',
            delimiters: ['${','}'],
            data: {
                product: "Socks",
                description: "A pair of warm, fuzzy socks"
            }
        })
    </script>
</body>
</html>