<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <title>Sandbox with VUE.js </title>
    

</head>

<body v-bind:style="Black">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Color Theme
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" class="button"  v-for="(theme, index) in themes":key="theme.themeId" @click="changeTheme(index)">
                        Change Theme: ${ colorTheme }
                    </a>
                </div>
            </div>
            </div>
        </div>
      </nav>
    <div id="app">
        <div class="container ">
            <div class="colunns is-variable is-8">
                <div class="column">

                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title">
                                ${ title }
                            </div> 
                        </div>
                            <div class="card-content">
                                <p class="title is-4">CURRENCIES</p>
                                <div class="columns">
                                    <div class="column">
                                        <div class="column">
                                        <p class="heading">  ${ name } </p>
                                            <p class="title"><i v-bind:class="icon" aria-hidden="true" class=""> </i> </p>
                                            <div class="column">
                                                <button class="button" v-on:click="goBack()"><i class="fa fa-chevron-left"> </i></button>
                                                <button class="button" @click="goForward()"><i class="fa fa-chevron-right"> </i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="card-footer">
                                    <div class="card-footer-item ">
                                        <nav class="level column">
                                            <div class="level-item has-text-centered">
                                                <div class="columns">
                                                    <div class="column">
                                                      <p class="heading">ASSETS </p>
                                                      <p class="title"><i v-bind:class="icon" aria-hidden="true" class=""> </i> ${ value_asset }</p>
                                                      <div class="column">
                                                          <button class="button" v-on:click="count_assets +=1">+</button>
                                                          <button class="button" v-on:click="count_assets -=1">-</button>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </nav>
                                    </div>
                                    <div class="card-footer-item">
                                        <nav class="level column">
                                            <div class="level-item has-text-centered">
                                                <div class="columns">
                                                    <div class="column">
                                                      <p class="heading">LIABILITIES </p>
                                                      <p class="title"><i v-bind:class="icon" aria-hidden="true" class=""> </i> ${ value_liability}</p>
                                                      <div class="column">
                                                          <button class="button" v-on:click="count +=1">+</button>
                                                          <button class="button" v-on:click="count -=1">-</button>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </nav>
                                    </div>
                                    <div  v-if=" value_asset < value_liability"  style="background-color: #ECA6A6;" class="card-footer-item">
                                        <nav class="level">
                                            <div class="level-item has-text-centered">
                                              <div>
                                                <p class="heading">NET WORTH </p>
                                                <p class="title"><i v-bind:class="icon" aria-hidden="true" class=""> </i> ${ networth }</p>
                                              </div>
                                            </div>
                                        </nav>
                                    </div>
                                    <div  v-else-if=" value_asset == value_liability "  style="background-color: #FFD850;" class="card-footer-item">
                                        <nav class="level">
                                            <div class="level-item has-text-centered">
                                              <div>
                                                <p class="heading">NET WORTH </p>
                                                <p class="title"><i v-bind:class="icon" aria-hidden="true" class=""> </i> ${ networth }</p>
                                              </div>
                                            </div>
                                        </nav>
                                    </div>
                                    <div  v-else style="background-color: #B3F4B6;" class="card-footer-item">
                                        <nav class="level">
                                            <div class="level-item has-text-centered">
                                              <div>
                                                <p class="heading">NET WORTH </p>
                                                <p class="title"><i v-bind:class="icon" aria-hidden="true" class=""> </i> ${ networth }</p>
                                              </div>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- Full bundle -->
        <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

        <!-- Individual components -->
        <script src="https://unpkg.com/buefy/dist/components/table"></script>
        <script src="https://unpkg.com/buefy/dist/components/input"></script>
        <script src="main.js"></script>
    <script>
        new Vue ({
            el: '#app',
            delimiters: ['${','}'],
            data: {
                product: "Balance",
                id: 0,
                currencies: [
                    {
                        currencyId: 1,
                        currencyName: "Bitcoin",
                        currencyIcon: "fa fa-btc",
                        currencyValue: 0.000151
                    },
                    {
                        currencyId: 2,
                        currencyName: "Euro",
                        currencyIcon: "fa fa-euro",
                        currencyValue: 0.92
                    },
                    {
                        currencyId: 3,
                        currencyName: "Dollar",
                        currencyIcon: "fa fa-dollar",
                        currencyValue: 1
                    },
                    {
                        currencyId: 4,
                        currencyName: "Yen",
                        currencyIcon: "fa fa-yen",
                        currencyValue: 108.87
                    },
                ],
                Black: {
                    color: "white",
                    backgroundColor: "black"
                },
                liabilities: 0,
                assets: 0,
                assets_count: 0,
                liabilities_count: 0,
                inDebt: true,
                count_assets: 0,
                count: 0,
                selectedCurrency: 0,
            },
            methods: {
                    goForward() {
                             var  len = this.currencies.length
                             console.log(this.selectedCurrency)

                             if ( this.selectedCurrency < (len-1)){
                                this.selectedCurrency += 1 
                               return  len[this.selectedCurrency]
                                             }
                                else {
                                    this.selectedCurrency = 0
                                }                         

                            },
                    goBack() {
                             var  len = this.currencies.length
                                console.log(this.selectedCurrency)

                             if ( this.selectedCurrency == 0){
                                 
                                return this.selectedCurrency = (len -1)
                                    console.log(this.selectedCurrency)

                                             }                        
                            else {
                                  return this.selectedCurrency = this.selectedCurrency -1
                                    console.log(this.selectedCurrency)
                                    }
                            },

                },
            computed: {
                title() {
                    return this.product
                },
                icon() {
                    return this.currencies[this.selectedCurrency].currencyIcon
                },
                name() {
                    return this.currencies[this.selectedCurrency].currencyName
                },
                value_liability() {
                    value = (this.liabilities + this.count) * this.currencies[this.selectedCurrency].currencyValue
                   return value
                   console.log(value)
                },
                value_asset() {
                   return (this.assets + this.count_assets) * this.currencies[this.selectedCurrency].currencyValue
                },
                networth() {
                    networth = ((this.assets + this.count_assets) - (this.liabilities + this.count)) * this.currencies[this.selectedCurrency].currencyValue
                    return networth
                },
            }
        })
    </script>
</body>
</html>